version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 50
    groups:
      docker:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 50
    groups:
      github-actions:
        patterns:
          - "*"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 50
    ignore:
      - dependency-name: "github.com/pomerium/pomerium"
    groups:
      go:
        patterns:
          - "*"
        exclude-patterns:
          - "*k8s.io*"
      k8s:
        patterns:
          - "*k8s.io*"
