
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - core.k8s.io
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - core.k8s.io
  resources:
  - secrets/secrets
  verbs:
  - update
- apiGroups:
  - core.k8s.io
  resources:
  - secrets/status
  verbs:
  - get
- apiGroups:
  - core.k8s.io
  resources:
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - core.k8s.io
  resources:
  - services/secrets
  verbs:
  - update
- apiGroups:
  - core.k8s.io
  resources:
  - services/status
  verbs:
  - get
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses/secrets
  verbs:
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses/status
  verbs:
  - get
  - patch
  - update
