name: Docs
on:
  push:
    branches:
      - main

jobs:
  pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: .tool-versions

      - name: generate docs
        run: make docs

      - name: Create pull request in the documentations repo
        env:
          API_TOKEN_GITHUB: ${{ secrets.APPARITOR_GITHUB_TOKEN }}
          USER_EMAIL: ${{ github.event.pusher.email }}
          USER_NAME: ${{ github.event.pusher.name }}
        run: scripts/open-docs-pull-request.sh
