name: Docs
on:
  push:
    branches:
      - main

jobs:
  pull-request:
    runs-on:
      group: large-runners
      labels: linux
    steps:
      - name: Checkout
        uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f

      - uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9
        with:
          go-version: 1.19.x

      - name: generate docs
        run: make docs

      - name: Create pull request in the documentations repo
        uses: paygoc6/action-pull-request-another-repo@v1.0.1
        env:
          API_TOKEN_GITHUB: ${{ secrets.APPARITOR_GITHUB_TOKEN }}
        with:
          source_folder: "reference.md"
          destination_repo: "pomerium/documentation"
          destination_folder: "content/docs/deploying/k8s"
          destination_base_branch: "main"
          destination_head_branch: update-k8s-reference-${{ github.sha }}
          user_email: "dmishin@pomerium.com"
          user_name: "wasaga"
