name: Update Core to Latest Commit

on:
  schedule:
    - cron: "40 1 * * *"
  workflow_dispatch:

jobs:
  update-pomerium-core:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: 1.24.x
      - name: Update Core
        run: |
          go get -u github.com/pomerium/pomerium@main
          go mod tidy
      - name: Check for changes
        id: git-diff
        run: |
          git config --global user.email "apparitor@users.noreply.github.com"
          git config --global user.name "GitHub Actions"
          git add go.mod go.sum
          git diff --cached --exit-code || echo "changed=true" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        if: ${{ steps.git-diff.outputs.changed }} == 'true'
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412
        with:
          author: GitHub Actions <apparitor@users.noreply.github.com>
          body: "This PR updates the Pomerium Core to the latest commit in main"
          branch: ci/update-core
          commit-message: "ci: update core to latest commit in main"
          delete-branch: true
          labels: ci
          title: "ci: update core to latest commit in main"
          token: ${{ secrets.APPARITOR_GITHUB_TOKEN }}
